body {
  background-color: #f2f2f2;
}

.index-highlight {
  padding: 15px;
  height: 150px;
}

.active,
nav-item:hover {
  background: #ffc000;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.sshighlight {
  border-radius: 20px;
}

.card > img {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.btn {
  border-radius: 25px;
  font-weight: bold;
}