/* index style start */

/* test */

body {
  background-color: #f2f2f2;
}

/* .active,
nav-item:hover {
    background: #ffc000;
} */

/* .active,
nav-item1:hover {
    background: #ffffff;
    height: 100%;
} */

.active1,
nav-item1:hover {
  background: #ffc000;
  height: 100%;
}

.next > li > a:hover {
  background: #ffc000;
}

.ty > li > a:hover {
  background: #649135;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.sshighlight {
  border-radius: 20px;
}

.cardIndex .card > img {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.btn {
  border-radius: 25px;
  font-weight: bold;
}

.social-login {
  text-align: center;
}

.social_log {
  list-style: none;
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-facebook:hover {
  background: #4d7ddb;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-google:hover {
  background: #cc5e50;
  color: white;
}

.tab .nav-item1 {
  width: 50%;
  border-radius: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color: black;
}

.tab .nav-item1:hover {
  background: #ffc000;
}

.tab a {
  list-style-type: none;
}

.forgot_link a {
  list-style-type: none;
}

.nav-tabs {
  border-bottom: none;
}

.tab-content .btn-block {
  width: 100%;
}

.signin_link {
  text-align: center;
  margin-top: 0.5rem;
}

.signin_dialog .modal-header img {
  margin-left: auto;
  margin-right: auto;
}

.tick {
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
}

.tick-label {
  font-size: 0.4em;
  text-align: center;
}

.tick-group {
  margin: 0.25em;
  text-align: center;
}

/* index style finish */

/* product style */

/* .sshighlight { sbb dh ada kat atas , so aq xguna yg ni.
      border-radius: 20px;
  } */

.card a > img {
  height: 85%;
  width: 85%;
  display: block;
  margin: auto;
}

#scrollUp {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: orange;
  z-index: 99;
  border: none;
  cursor: pointer;
}

#scrollUp:hover {
  background-color: yellowgreen;
  color: white;
}

/* product style finish */

/* whistlist style */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  display: inline-block;
}

/* whistlist style finish */

/* cart style */

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffc000;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  display: block;
  width: 100%;
  border: none;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 1200px) {
  .sticky-xl-topList {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    z-index: 1020;
  }
}

.hrList {
  margin: 0.1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

/* cart style finish */

.blockbtn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
