body {
  background-color: #f2f2f2;
}

.index-highlight {
  padding: 15px;
  height: 150px;
}

.active,
nav-item:hover {
  background: #ffc000;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.sshighlight {
  width: 15rem;
  border-radius: 20px;
  margin: 10px;
  height: 22rem;
}

.card > img {
  height: 200px;
  width: 200px;
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

input[type="search"]::placeholder {
  text-align: right;
}

.btn {
  border-radius: 25px;
}
