* {
  box-sizing: border-box;
}
header,
nav {
  display: block;
}

body {
  background-color: #eb4c4c;
  color: #221811;
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: #752121;
  height: 150px;
  background-image: url(logo-placeholder.jpg);
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

nav {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  float: left;
  width: 200px;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}

img {
  float: right;
}

main {
  padding: 0 0 2em 0;
  margin-left: 200px;
  margin-right: 200px;
}

.column {
  float: right;
  width: 200px;
}
