#button-addon1 {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding 12 16 */ 
    font-size: 16px; /* Set a font size 16 */
    cursor: pointer; /* Mouse pointer on hover */
}

#button-addon1:hover {
    background-color: RoyalBlue;
}

/*.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }*/

td {
    height: 50px;
    vertical-align: middle;
}

table {
    width: 100%;
}

#subtotal {
    text-align: center;
}

#checkbox {
    top: 50%;
    padding-left: 100px;
}

#tableheader {
    text-align: center;
}

#Itemname {
    text-align: center;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

/*.table tbody tr td {
    width: 10px;
    text-align: center;
}*/

.btn.remove {
    vertical-align: middle;
}




