#button-addon1 {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding 12 16 */ 
    font-size: 16px; /* Set a font size 16 */
    cursor: pointer; /* Mouse pointer on hover */
}

#button-addon1:hover {
    background-color: RoyalBlue;
}

/*.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }*/

.altbody {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e91e63;
}

ul {
    position: absolute;
    left: 43%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    border-radius: 10px;
    /*box-shadow: 0 10px 30px rgba(0, 0, 0, .3);*/
}

ul li {
    list-style-type: none;
    text-align: center;
    display: block;
    /*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
}

ul li a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
}


